<template>
    <div class="container-fluid">
        <div class="d-flex justify-content-center m-3">
            <v-progress-circular 
                v-show="progressBar"
                color="#C58F06" 
                indeterminate>
            </v-progress-circular>
        </div>

        <v-alert
            v-show="showAlert"
            dense
            outlined
            type="info"
            class="col-md-6 mx-auto"
            >
            Tidak Ada Data
        </v-alert>

        <div class="mt-20" v-show="isUpToDate != 1">
            <Message />
        </div>

        <div v-show="isUpToDate == 1">
            <v-row no-gutters>
                <v-col
                    v-for="(data, i) in visiblePages"
                    :key="i"
                    cols="12"
                    md="4"
                    class="py-3 px-3"
                >
                    <v-hover
                        v-slot="{ hover }"
                        open-delay="200"
                    >
                        <v-card
                        :elevation="hover ? 16 : 4"
                        :class="{ 'on-hover': hover }"
                        class="rounded shadow mx-auto"
                        color="#fff"
                        dark>
                            <v-img
                            height="140"
                            src="https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1459&q=80"
                            ></v-img>
                            <v-card-title
                            class="text-h5 font-weight-bold text-yosi3"
                            v-text="data.title"
                            ></v-card-title>
    
                            <v-card-subtitle class="text-yosi3 font-weight-medium">
                                {{ data.release_date }} release
                            </v-card-subtitle>
    
                            <v-btn
                                color="#C58F06"
                                text
                                class="font-weight-bold mr-5 mb-5"
                                v-show="data.show"
                                @click="addItem(data)"
                            >
                            Add
                            </v-btn>
    
                            <v-btn
                                color="#9F0000"
                                text
                                class="font-weight-bold mr-5 mb-5"
                                v-show="!data.show"
                                @click="deleteItem(data)"
                            >
                            Delete
                            </v-btn>
                        </v-card>
                    </v-hover>
                </v-col>
            </v-row>
    
            <div v-show="results_data > perPage" class="col-lg-12 text-right">
                <v-pagination
                    class="my-4"
                    color="#C58F06"
                    circle
                    v-model="page"
                    :length="Math.ceil(results_data/perPage)"
                ></v-pagination>
            </div>
        </div>

    </div>
</template>

<script>
import Message from "@/view/content/Message.vue";
import axios from 'axios'
import json from "@/view/pages/dataFilms.json"

export default {
    name: "store",
    mounted() {
        this.load() 
    },
    data: () => ({
      data_film: [],
      check: [],
      progressBar: true,
      showAlert: false,
      perPage: 5,
      page: 1,
      results_data: [],
      targetValue:0,
      addRemove: "Add",
      isAdd: false,
      targetId: "",
      studentsGetData: [],
      films: json.films,
      isUpToDate: ""
    }),
    watch: {
        data_film(){
            this.progressBar = false
        }
    },
    methods: {
        addItem(data){
            let check = JSON.parse(localStorage.getItem("allFilms"))

            const updatedCharacters = check.map(item => {
                if(item.episode_id === data.episode_id) {
                    return {episode_id: item.episode_id, title: item.title, release_date: item.release_date, show: false};
                }
                
                return item;
            });
            
            localStorage.setItem("allFilms", JSON.stringify(updatedCharacters));
            this.AllData();

            let dt = {
                id: data.episode_id,
                total: 0,
                title: data.title,
                release_date: data.release_date,
            }
            this.films = [...this.films, dt]
            localStorage.setItem('myfilms',JSON.stringify(this.films))
        },

        deleteItem(data){
            let check = JSON.parse(localStorage.getItem("allFilms"))

            const updatedCharacters = check.map(item => {
                if(item.episode_id === data.episode_id) {
                    return {episode_id: item.episode_id, title: item.title, release_date: item.release_date, show: true};
                }
                
                return item;
            });
            
            localStorage.setItem("allFilms", JSON.stringify(updatedCharacters));
            this.AllData();

            let tasks = JSON.parse(localStorage.getItem('myfilms'));
            let index = tasks.findIndex(item => item.episode_id === data.episode_id)
            tasks.splice(index, 1);
            
            localStorage.setItem("myfilms", JSON.stringify(tasks));
        },

        AllData(){
            this.progressBar = true;
            this.isUpToDate = localStorage.getItem("up-to-date");
            let check = JSON.parse(localStorage.getItem("allFilms"));
            if (check == null) {
                axios
                    .get('https://swapi.dev/api/films')
                    .then(response => {
                        localStorage.setItem('allFilms',JSON.stringify(response.data.results))
                        this.results_data = response.data.count
                        if (response.data.count == 0) {
                            this.showAlert = true;
                        } else {
                            this.showAlert = false;
                        }
                        this.data_film = JSON.parse(localStorage.getItem('allFilms'))
                    })
            } else {
                this.data_film = check;
                this.results_data = check.length;
            }
        },

        async load() {
            Promise.all([
                await setTimeout(() => this.AllData(), 300),
            ]).then(function(results) {
                results;
            });
        },
    },
    computed:{
        visiblePages () {
            if (this.results_data > 1) {
                return this.data_film.slice((this.page - 1)* this.perPage, this.page* this.perPage);
            } else {
                return this.data_film;                
            }
        }
    },
    components: {Message},
}
</script>