<template>
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-body">
                <p class="card-text">Anda harus melengkapi data diri di halaman Home sebelum dapat melihat barang yang tersedia.</p>
                <button class="btn btn-outline-primary btn-bold" @click="goHome">
                    kembali ke Home                    
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        goHome(){
            this.$router.push({ name: `home` });
        }
    }
}
</script>